<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>{{text}}</p>
    <ion-button (click)="onChangeText()" >Change text</ion-button>
  </div>
</ion-content>
